name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

jobs:
  lint:
    runs-on: macos-latest
    environment: default
    steps:
      - uses: actions/checkout@v3
      - name: SwiftFormat version
        run: swiftformat --version
      - name: Format lint
        run: swiftformat --lint .
      - name: Install SwiftLint
        run: brew install swiftlint
      - name: SwiftLint version
        run: swiftlint --version
      - name: Lint
        run: swiftlint lint --quiet
  macos-test:
    runs-on: macos-14
    environment: default
    steps:
      - uses: actions/checkout@v3
      - name: Run Tests
        run: swift test --enable-code-coverage --parallel
      - name: Swift Coverage Report
        run: xcrun llvm-cov export -format="lcov" .build/debug/swift-filterPackageTests.xctest/Contents/MacOS/swift-filterPackageTests -instr-profile .build/debug/codecov/default.profdata > coverage_report.lcov
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true # optional (default = false)
  linux-test:
    runs-on: ubuntu-latest
    environment: default

    steps:
      - uses: actions/checkout@v3
      - name: Run Tests
        run: swift test --parallel
